form p {
  color: #082268;
  font-weight: normal;
  font-size: 120%;
  line-height: 0.1;
}
table {
  width: 100%;
  border-spacing: 20px;
}
table div {
  width: 520px;
  height: 170px;
  background-color: #fc9904;
  float: right;
  border-radius: 30px;
  font-weight: bold;
  color: #082268;
  font-size: 200%;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
table tr td:first-child div {
  float: left;
}

table div div {
  width: 250px;
  height: 169px;
  margin-top: 0.5px;
  margin-left: 0.5px;
  float: left;
  border-radius: 30px;
  background-color: #ebebeb !important;
  border: 10px soild #fc9904;
  z-index: 1;
}

table div:hover,
.bg-color-dark-orange {
  background-color: #a5690e !important;
  transition: 0.3s;
  color: white;
}

table div:hover div {
  background-color: white !important;
}

input[type="submit"] {
  background-color: #fc9904;
  border: none;
  height: 50px;
  width: 100px;
  color: #ebebeb;
  font-weight: bold;
  font-size: 120%;
  border-radius: 25px;
  position: absolute;
  left: 85%;
}
